p.ticket-recieved {
	font-weight:bold;
	text-align: center;
}

table#ticket-info tr td {
	border:1px solid #ccc;
}

table#ticket-info tr td.label {
	width:15%;
	background:#E0E0D8;
	font-weight:bold;
}

#sp-kb-content {
	margin:0px 280px 0px 0px;
}

#sp-menu-right {
	width:220px;
	float:right;
	padding:9px;
	border:1px solid #ccc;
}

#sp-menu-right ul {
	margin:0;
	padding:0;
}

#sp-menu-right ul li {
	list-style:none;
	margin:2px 0px 4px 0px;
	padding:0;
}

#sp-menu-right ul li ul {
	margin-left:15px;
}
